body {
  font-family: sans-serif;
}
.header {
  color: #fff;
  text-align: center;
  background-color: #168855;
  padding: 30px;
  font-size: 2em;
}
.edit {
  display: none;
}
.loggedin {
  display: none;
}
#login {
  position: absolute;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.CodeMirror {
  height: 66% !important;
}
.spinner {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: grey;
  opacity: 0.6;
}
