<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/wiki.css">
  <link rel="stylesheet" type="text/css" href="css/simplemde.min.css">
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/hocon.min.js"></script>
  <script type="text/javascript" src="js/simplemde.min.js"></script>
  <script type="text/javascript" src="js/bcrypt.min.js"></script>
</head>
<body onload="load()">
<section class="header">
serverless-wiki
</section>
<section style="text-align: right; padding: 20px">
<a id="loginlink" href="#" onclick="document.getElementById('login').style.display = 'block'">Log in</a>
<a href="#" onclick="save()" class="edit">save</a>
<a href="#" onclick="edit()" class="loggedin noedit">edit</a>
<span id="loggedin" class="loggedin"></span>
<a id="logoutlink" href="#" onclick="logout()" class="loggedin">Log out</a>
<form id="login" onsubmit="login()" style="display: none">
  Username: <input id="username" type="text"><br>
  Password: <input id="password" type="password"><br>
  <input type="submit"/>
</form>
</section>
<script>
function load() {
  const userStr = localStorage.getItem("user")
  if (userStr) {
    user = JSON.parse(userStr)
    $('#loginlink').hide()
    $('#loggedin').text(user.full_name)
    $('.loggedin').show()
  } else {
    $('#loginlink').show()
    $('.loggedin').hide()
  }
  $('#login').hide()
}
function lightHash(password) {
  let result = 0
  for (c in password) {
    result = (result + password.charCodeAt(c)) % 100
  }
  return result
}

function perform_request(method, url, cb, err_cb, body) {
  var r = new XMLHttpRequest()
  r.onreadystatechange = function() {
    if (r.readyState == 4) {
      if (r.status == 200)
        cb(r.responseText)
      else
        err_cb(r.status, r.responseText)
    }
  }
  r.open(method, url)
  r.send(body)
}

function get(url, cb, err_cb) {
  perform_request("GET", url, cb, err_cb)
}

function post(url, cb, err_cb, body) {
  perform_request("POST", url, cb, err_cb, body)
}

function logout() {
  localStorage.setItem("user", "")
  load()
}

function login() {
  var username = document.getElementById('username').value
  var password = document.getElementById('password').value
  get('users/' + username + '.hocon',
    function(hoconConfig) {
      const config = parseHocon(hoconConfig)
      if (lightHash(password) == config.password_light_hash) {
        config.username = username
        var bcrypt = dcodeIO.bcrypt
        var salt = config.password_hash.substring(0, 7+22)
        config.auth = bcrypt.hashSync(password, salt)
        localStorage.setItem("user", JSON.stringify(config))
        load()
      } else {
        alert("Wrong password")
      }
    },
    function(status, text) {
      alert("Sorry", status, text)
    }
  )
}

function edit() {
  $('.edit').show()
  simplemde = new SimpleMDE()

  $('.noedit').hide()
}

function page() {
  var segments = window.location.href.split('/')
  var last_segment = segments[segments.length-1]
  var page = last_segment.split('.html')[0].split('?')[0].split('#')[0]
  if (page == '') {
    return 'index'
  } else {
    return page
  }
}

function save() {
  $('.spinner').show()
  var url = "<!-- POST_URL -->/edit?user=" + user.username + "&page=" + page() + "&auth=" + user.auth
  post(url, function() {
    document.location.reload()
  },
  function(status, err) {
    $('.spinner').hide()
    alert(err)
  },
  simplemde.value())
}
</script>
<div class="noedit">
<!-- PAGE_CONTENT_HERE -->
</div>
<textarea class="edit">
<!-- PAGE_SOURCE_HERE -->
</textarea>
<div class="spinner">
</div>
</body>
</html>
